*{
    margin: 0px;
    padding: 0px;
}
#page1{
    background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)) , url("https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80.jpg");
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
}
#menu{
    color: white;
    display: flex;
}
.leftmenu{
    padding: 14px 0px;
    margin: 0px 65px;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
   
    font-weight: bold;
}
.rightmenu{
    padding: 45px 0px;
    margin-left: 570px;
        text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(219, 219, 219);
}
.rightmenu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
    font-weight:bold;
    cursor: pointer;
}
.rightmenu ul a{
    text-decoration: none;
    color: rgb(201, 199, 199);
}
.rightmenu ul li:hover{
    color: white;
}
.rightmenu ul li::after{
   content: '';
   width:0;
   height:2px;
   background: yellow;
   display: block;
   margin: auto;
   transition:0.45s;
}
.rightmenu ul li:hover::after{
    
    width: 100%;
}
#MENU{
    color: white;
}
#MENU::after{
   
   width: 38px;
   height:2px;
   background: yellow;
   margin: auto;
}
.icons{
    color: rgb(201, 199, 199);
    padding: 0px 30px;
    padding-top: 45px;
    
    font-size: 1.3rem;
    cursor: pointer;
}

.icons .fa{
    margin-left: 10px;
}
.fa-facebook:hover{
    color: white;
}
.fa-instagram:hover{
    color: white;
}
.fa-twitter:hover{
    color: white;
}
.fa-search:hover{
    color: white;
}
.social{
    text-decoration: none;
    color: rgb(201, 199, 199);
}
.menulist{
    margin-top: 30px;
    color:white;
    font-size: 1.5rem;
    display:flex;
}
#one{
   margin-left: 100px;
   width:40%;
   
}
th{
    text-align: center;
    color: yellow;
    font-size: 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    padding-bottom: 50px;
    padding-top: 20px;
}
#two{
    margin-left: 150px;
    width:40%;
    margin-right: 40px;
    
}


