*{
    margin: 0px;
    padding: 0px;
}
#page1{
    background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)) , url("https://prods3.imgix.net/images/articles/2018_04/nonfeatured-chicago-best-desserts.jpg");
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
}
#menu{
    color: white;
    display: flex;
}
.leftmenu{
    padding: 14px 0px;
    margin: 0px 65px;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
   
    font-weight: bold;
}
.rightmenu{
    padding: 45px 0px;
    margin-left: 570px;
        text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(219, 219, 219);
}
.rightmenu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
    font-weight:bold;
    cursor: pointer;
}
.rightmenu ul a{
    text-decoration: none;
    color: rgb(201, 199, 199);
}
.rightmenu ul li:hover{
    color: white;
}
.rightmenu ul li::after{
   content: '';
   width:0;
   height:2px;
   background: yellow;
   display: block;
   margin: auto;
   transition:0.45s;
}
.rightmenu ul li:hover::after{
    
    width: 100%;
}
#reserve{
    color: white;
}
#reserve::after{
   width: 82px;
   height:2px;
   background: yellow;
   margin: auto;
}
.icons{
    color: rgb(201, 199, 199);
    padding: 0px 30px;
    padding-top: 45px;
    
    font-size: 1.3rem;
    cursor: pointer;
}
.social{
    text-decoration: none;
    color: rgb(201, 199, 199);
}
.icons .fa{
    margin-left: 10px;
}
.fa-facebook:hover{
    color: white;
}
.fa-instagram:hover{
    color: white;
}
.fa-twitter:hover{
    color: white;
}
.fa-search:hover{
    color: white;
}
.booking{
    color:rgb(223, 211, 211);
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0.45);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:60%;
    margin-left:300px;
   
    text-align: center;
}
.booking h2{
    font-size: 2.5rem;
    font-family: 'Cardo', serif; 
    padding-top: 30px;
    color: white;
}


form{
    margin-top: 40px;
}
.booking input{
    padding: 12px;
    width:33%;
    border-radius: 30px;
    color:rgb(56, 52, 52);font-size: 1rem;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#lname{
    margin-left: 40px;
}
#Mnumber{
    margin-left: 40px;
    margin-top: 50px;
}
#Email{
    margin-top: 50px;
}
#dateofbook{
    width:20%;
    margin-top: 50px;
    padding: 10px;
    color:rgb(56, 52, 52);
    font-style: normal;
}
#timeofbook{
    margin-left: 40px;
    margin-top: 50px;
    padding: 12px;
    width:22%;
    color:rgb(56, 52, 52);
    border-radius: 30px;
    font-size: 1rem;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#numperson{
    margin-left: 40px;
    margin-top: 50px;
    padding: 12px;
    width:22%;
    color:rgb(56, 52, 52);
    border-radius: 30px;
    font-size: 1rem;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#book{
    margin-top: 70px;
    margin-bottom: 30px;
    width:25%;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
}
#book:hover{
    background-color: yellow;
    border:2px solid yellow;
    color: black;
}